.welcome {
  font-size: 2.3em;
  background-color: rgb(132, 239, 26);
  color: whitesmoke;
  padding: 10px;
  border-radius: 7px;
  margin: 0px;
}

.login {
  font-size: 2.3em;
  background-color: rgb(235, 68, 12);
  color: rgb(19, 19, 19);
  padding: 10px;
  border-radius: 7px;
  margin: 0px;
}